body {
  margin: 2px;
  padding: 0;
  height: 100%;
  font-size: 12px;
  font-family: 'Arial', sans-serif;
  color: #333333;
}
div {
  background: #ffffff;
  padding:2px;
  border:1px solid #eeeeee;
}
div#realtime {
  padding:0px;
}

/* start */
/* grid container */
.two-col-grid {
  display:grid;
  grid-template-areas:
    'lhd'
    'rhd'
    'main'
    'sd'
    'ft'
    'ft'
    'rft'
}

/* general column padding */
.two-col-grid > * {
  padding:1rem;
}

/* assign columns to grid areas */
.two-col-grid > .main-content {
  grid-area:main;
  background:#fff;
}
.two-col-grid > .left-header {
  grid-area:lhd;
  padding: 0.5em 0 0 0.5em;
}
.two-col-grid > .right-header {
  grid-area:rhd;
  justify-items: right;
  align-items: end;
  display: inline-grid;
  padding:1em;
}

.two-col-grid > .left-sidebar {
  grid-area:sd;
}

.two-col-grid > .footer {
  grid-area:ft;
  text-align:center;
}
.two-col-grid > .footer a {
  margin:2px 30px 2px 30px;
}

/* tablet breakpoint */
@media (min-width:768px) {
  .two-col-grid {
    grid-template-columns:repeat(7, 1fr);
    grid-template-areas:
      'lhd rhd main main main main main'
      'sd sd main main main main main'
      'sd sd ft ft ft rft rft';
  }
}
/* end grid container*/

map-legend {
  margin: 0;
  padding: 0;
}
.right-header h4{
    padding: 0 0.2em;
    margin: 0;
    font-size: 1em;
    display: inline;
    vertical-align: text-bottom;
}
a.scedc{
  color: #ff6d1e;
  text-decoration: none;
  font-family: 'Arial', sans-serif;
  font-weight: 800; font-size: 2em;
  line-height: 100%;
  padding: 0 0.2em 0 0;
}
.float-right {
  float:right;
  display:inline;
}
time{
  margin-left:2em;
}
section.left-sidebar h3 {
  font-size: 1.4em;
  margin: 1em 0.5em 0.5em 0.5em;
  text-align: center;
  color: #003B4C;
  /*color:#536878;*/
}
section.left-sidebar div {
  text-align: center;
}
div.quaketbl-wrapper{
  display:block;
  height: 120px;
  overflow-x:auto;
  font-size: 1.2em;
  border: none;
}
main.main-content span#id_status_message {
  margin-left:4em;
  font-weight: bold;
  color: red;
}
span#id_evt_status {
  font-weight: bold;
  color: #003B4C;
}
main.main-content h1 {
  font-weight: bold; font-size: 3em;
  color: #003B4C;
  margin: 0.2em 0 0.1em 0;
  text-align: center;
}
