.sp_version {
  float: right;
  font-size: small;
}

body {
    margin: 2px;
    padding: 0;
    height: 100%;
    font-size: 12px;
    font-family:"Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
    color: #333333;
}
div {
  background: #ffffff;
  padding:2px;
  border:1px solid #eeeeee;
}
div#realtime {
  padding:0px;
}
/* start */
/* grid container */
.left-sidebar-grid {
    display:grid;
    grid-template-areas:
        'hd'
        'lhd'
        'rhd'
        'main'
        'lsd'
        'ft'
        'lft'
        'rft'
}

/* general column padding */
.left-sidebar-grid > * {
    padding:1rem;
}

/* assign columns to grid areas */
.left-sidebar-grid > .header {
    grid-area:hd;
    padding: 0;
    /*background:#f97171; */

}
.left-sidebar-grid > .left-header {
    grid-area:lhd;
    padding: 0.5em 0 0 1em;
}
.left-sidebar-grid > .right-header {
    grid-area:rhd;
    padding: 2em 1em 0 0;
    text-align: right;
}
.left-sidebar-grid > .main-content {
    grid-area:main;
    background:#fff;
}
.left-sidebar-grid > .left-sidebar {
    grid-area:sd;
   /* background:#f5d55f;*/
}
.left-sidebar-grid > .footer {
    grid-area:ft;
    text-align:center;
}
.left-sidebar-grid > .footer a {
    margin:2px 30px 2px 30px;
}

/* tablet breakpoint */
@media (min-width:768px) {
    .left-sidebar-grid {
        grid-template-columns:repeat(7, 1fr);
        grid-template-areas:
            'lhd hd hd hd hd hd rhd'
            'sd sd main main main main main'
            'lft ft ft ft ft ft rft';
    }
}
/* end grid container*/

/* attempt to style the station marker. doesnt seem to work tho */
.leaflet-marker-icon {
  width:5px;
  height:5px;
}

map-legend {
  margin: 0;
  padding: 0;
}

header h1 {
  font-size:3.5em;
  margin: 0.2em;
  padding: 0;
  text-align:center;
  color:#536878;
}
a.scedc{
  color: #ff6d1e;
  text-decoration: none; 
  font-family: 'Lato', sans-serif; 
  font-weight: 800; font-size: 2.5em; 
  line-height: 100%;
}

.float-right {
  float:right;
  display:inline;
}
time{
    margin-left:2em;
}
section.left-sidebar h3 {
  font-size: 1.3em;
  margin: 1em 0.5em 0.5em 0.5em;
  text-align: center;
  color:#536878;
}
section.left-sidebar div {
    text-align: center;
}